In [2]:
import numpy as np
import pandas as pd

In [20]:
a= pd.DataFrame([(0,0,0,0),(0,0,0,0),(0,0,0,0),(0,0,0,0)])
a

   0  1  2  3
0  0  0  0  0
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0

In [25]:
a.iloc[:3,:3]=1
a

   0  1  2  3
0  1  1  1  0
1  1  1  1  0
2  1  1  1  0
3  0  0  0  0